<h1><%= @restaurant.name %></h1>

<div class="row">
  <div class="col">Address</div>
  <div class="col"><%= @restaurant.address %></div>
</div>
<div class="row">
  <div class="col">Category</div>
  <div class="col"><%= @restaurant.category %></div>
</div>
<div class="row">
  <div class="col">Phone Number</div>
  <div class="col"><%= @restaurant.phone_number %></div>
</div>
<hr>
<h4>Reviews</h4>
<div class="row">
  <div class="col">Comments</div>
  <div class="col">Rating</div>
</div>
<% @restaurant.reviews.each do |review| %>
<div class="row">
  <div class="col"><%= review.content %></div>
  <div class="col"><%= 'ðŸ‘ðŸ»' * review.rating %></div>
</div>
<% end %>

<%= simple_form_for [@restaurant, @review] do |f| %>
  <%= f.input :content %>
  <%= f.input :rating %>
  <%= f.submit %>
<% end %>
<%= link_to "Home", restaurants_path, class: "btn btn-primary btn-sm mt-2" %>
